button,
button:hover {
	border: none;
	color: #fff;
	padding: 10px;
}
.chat__messages,
.chat__sidebar ul {
	list-style-type: none;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue",
		Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 0.95rem;
}
li,
ul {
	list-style-position: inside;
}
h3 {
	font-weight: 600;
	text-align: center;
	font-size: 1.5rem;
}
button {
	background: rgb(56, 199, 255);
	border-radius: 8px;
	cursor: pointer;
	transition: background 0.3s ease;
	color: white;
	font-weight: 600;
}
button:hover {
	background: rgb(105, 205, 244);
	color: white;
}
button:disabled {
	cursor: default;
	background: #FFB6B9;
}
.centered-form {
	display: flex;
	align-items: center;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	background-color: rgb(231, 231, 231);
	/* background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%); */
	/* background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%); */
}
.centered-form__form {
	background-color: whitesmoke;
	border: 1px solid #e1e1e1;
	border-radius: 15px;
	padding: 0 20px;
	margin: 20px;
	width: 270px;
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.8);
}
.form-field {
	margin: 30px 0;
}
.form-field > * {
	width: 100%;
	border-radius: 8px;
}
.form-field label {
	display: block;
	margin-bottom: 7px;
}
.form-field input,
.form-field select {
	outline: none;
	border: 1px solid skyblue;
	padding: 10px;
}
.chat {
	display: flex;
}
.chat__sidebar {
	overflow-y: scroll;
	width: 260px;
	min-height: 95vh;
	max-height: max-content;
	background-color: white;
    /* background-image: linear-gradient(315deg, #FFB6B9 0%, #BBDED6 64%); */
}
.chat__footer,
.chat__sidebar li {
	background: rgb(56, 199, 255);;
	padding: 10px;
	color: white;
	font-weight: 600;
}
.chat__sidebar h3 {
	color: #e6eaee;
	margin: 10px 20px;
	text-align: left;
}

.chat__sidebar li {
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	margin: 13px;
}
.chat__main {
	display: flex;
	flex-direction: column;
    /* background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%); */
	background-color: rgb(231, 231, 231);
/* background-image: linear-gradient(315deg, #FFB6B9 0%, #BBDED6 74%); */
	height: 100vh;
	width: 100%;
}
.chat__messages {
	flex-grow: 1;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 10px;
}
.chat__footer {
	display: flex;
	flex-shrink: 0;
	/* background-color: #20bf55; */
	background-color: rgb(244, 244, 244);
    /* background-image: linear-gradient(315deg, #FFB6B9 0%, #BBDED6 74%); */
	
}
.chat__footer form {
	flex-grow: 1;
	display: flex;
}
.chat__footer form * {
	margin-right: 10px;
}
.chat__footer input {
	padding: 10px;
	flex-grow: 1;
	outline: none;
	border: 2px solid skyblue;
	border-radius: 10px;
}
.message {
	padding: 10px;
	background: rgb(56, 199, 255);
	border-radius: 12px;
	margin-bottom: 20px;
	min-width: 50%;
	max-width: fit-content;
}
.message__title {
	display: flex;
	margin-bottom: 5px;
	color: white;
	letter-spacing: 1px;	
}
.message__title h4 {
	font-weight: 600;
	margin-right: 10px;
	
}

.message__title span {
	/* color: rgb(255, 138, 4); */
	color: aliceblue;
	font-weight: 700;
	letter-spacing: 1.5px;
}
@media (max-width: 600px) {
	* {
		font-size: 1rem;
	}
	.chat__sidebar {
		display: none;
	}
	.chat__footer {
		flex-direction: column;
	}
	.chat__footer form {
		margin-bottom: 10px;
	}
	.chat__footer button {
		margin-right: 0;
	}
}
